<!-- 
    Created On : 03/12/2020
    Author     : Rajath Eynetech 
-->

<% extend('../layouts/default') %>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                      <h2 class="content-header-title float-left mb-0">Job Request</h2>
                      <div class="breadcrumb-wrapper col-12">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/admin">Home</a>
                              </li>
                              <li class="breadcrumb-item"><a href="/admin/job_requests">Job Request</a>
                              </li>
                              <li class="breadcrumb-item active"><a href="#">list</a>
                              </li>
                          </ol>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="content-body">

            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-content">
                                <div class="card-body card-dashboard">
                                    <div class="table-responsive">
                                        <%- messages() %>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Career Post</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% job_requests.forEach(function(job_request){ %>
                                                    <tr>
                                                        <td><b><%= job_request.title %></b>
                                                        </td>
                                                        <td><%= job_request.name %></td>
                                                        <td><%= job_request.email %></td>
                                                        <td><%= job_request.phone %></td>
                                                        <td>
                                    
                                                            <a href="/admin/job_request/destroy/<%= job_request.id %>" onclick="return confirm('Are you sure;');" class="btn btn-danger btn-sm"><i class="feather icon-trash"></i></a>
                                                          </td>
                                                         
                                                    </tr>

                                                <% }) %>

                                              

                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Zero configuration table -->

        </div>
    </div>
</div>
